@import 'tailwindcss';

@import "tw-animate-css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Inter',
    'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-card-link: var(--card-link);
    --color-card-link-foreground: var(--card-link-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-tertiary: var(--tertiary);
    --color-tertiary-foreground: var(--tertiary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);


    --color-notifications: var(--notifications);
    --color-warning: var(--warning);
}

:root {
    --gunmetal: oklch(0.317 0.0314 219.19);
    --cerulean: oklch(0.545 0.0667 221.94);
    --verdigris: oklch(0.693 0.0609 184.85);
    --cambrige-blue: oklch(0.7769 0.0566 149.03);
    --tea-green: oklch(0.8861 0.043 132.23);
    --atomic-tangerine: oklch(0.7875 0.1 46.85);

    --foreground-main: oklch(0.145 0 0);

    --background: oklch(1 0 0);
    --foreground: var(--foreground-main);
    /*--card: oklch(1 0 0);*/
    --card: oklch(0.9612 0 0);
    --card-foreground: var(--foreground-main);
    --card-link: var(--tea-green);
    --card-link-foreground: var(--cerulean);

    --popover: oklch(1 0 0);
    --popover-foreground: var(--foreground-main);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --tertiary: oklch(0.825 0.0369 179.03);
    --tertiary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;

    /*--sidebar: oklch(0.985 0 0);*/
    --sidebar: var(--tea-green);
    --sidebar-foreground: var(--foreground-main);
    /*--sidebar-primary: oklch(0.205 0 0);*/
    --sidebar-primary: var(--cambrige-blue);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    /*--sidebar-accent: oklch(0.97 0 0);*/
    --sidebar-accent: var(--cambrige-blue);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: var(--cerulean);
    --sidebar-ring: oklch(0.87 0 0);

    --notifications: var(--atomic-tangerine);
    --warning: var(--atomic-tangerine);
}

.dark {
    --foreground-main: oklch(0.985 0 0);

    --background: oklch(0.145 0 0);
    --foreground: var(--foreground-main);
    --card: oklch(0.145 0 0);
    --card-foreground: var(--foreground-main);
    --popover: oklch(0.145 0 0);
    --popover-foreground: var(--foreground-main);
    --primary: var(--foreground-main);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: var(--foreground-main);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: var(--foreground-main);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: var(--foreground-main);
    --sidebar-primary: var(--foreground-main);
    --sidebar-primary-foreground: var(--foreground-main);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: var(--foreground-main);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {

    /* <weight>: Use a value from 100 to 900 */
    /* <uniquifier>: Use a unique and descriptive class name */
    .inter-classic {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }


    /* Generic page style */
    .main-page {
        @apply @container w-full max-w-7xl p-4 flex flex-col items-center gap-8;
    }

    /* Generic MISC style */
    .postinfo {
        @apply text-gray-400 text-xs self-end pr-2;
    }

    /* Generic Widgets style */
    .widget {
        @apply rounded-xl bg-card text-card-foreground max-w-lg w-full flex flex-col h-fit pb-4;
    }

    .widget-head {
        @apply rounded-t-xl bg-tertiary text-tertiary-foreground w-full flex justify-center p-3 text-3xl font-medium;
    }

    .widget-container {
        @apply flex flex-col gap-3 p-3;
    }

    .widget-item {
        @apply bg-background rounded-lg p-2 py-1 flex flex-col gap-1 animate-accordion-down hover:-translate-y-0.5 hover:bg-gray-50;
    }

    .widget-item-title {
        @apply text-center self-center text-xl font-medium;
    }

    .widget-item-icons-container {
        @apply -order-1 flex justify-end gap-1 -mb-7;
    }

    .widget-item-icon {
        @apply h-8 min-w-8 bg-tertiary rounded-sm p-1.5 flex flex-row gap-1 items-center;
    }

    .widget-openlink {
        @apply hover:bg-card-link text-card-link-foreground p-1 mt-2 mx-6 rounded-lg flex justify-center gap-1;
    }
}
